@import "../../styles";

.container {
    margin: 0 30px 30px 30px;
    width: 100%;
    gap: 50px;
}

.slider {
    width: 100%;
}

.sliderContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sliderTitle {
    width: 100px;
    text-align: center;
}

.sliderButtonsContainer {
    display: flex;
    justify-content: space-between;
}

.normalCursor {
    cursor: default;
}