@import "../../styles";

.container{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}